extends layout
block link
  -var wybor='Sprawdź rezerwacje';
block content
 h2 Podaj numer rezerwacji:
 form(method="POST" action="/sprawdz-rezerwacje")
  input(type="text" name="id" maxlength="6" required="required")
  input(type="submit" value="Sprawdź!")